html, body, .App, #main {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.App {
  background-color: black;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header--div {
  display: flex;
  padding: 1em;
  gap: 1rem;
}

.header-button {
  border: none;
  background: none;
  color: white;
}

.header-button:hover {
  font-style: italic;
}

.play-pause {
  width: 5em;
  height: 5em;
  background-color: white;
  border-radius: 50%;
}
